*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(221, 193, 193);
}
.backbtn{
    color: #fffb00;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 2px;
    width: 100px;
    height: 25px;
}
.read{
    color: rgb(255, 134, 69);
    background: black;
    height: 20px;
    width: 100px;
}

.boxoneimg{
   margin: 10px 140px;
   height: 30vh;
   width: 20vw;
   border: 1px solid #E2B714;
   border-radius: 10px;
}

.container{
    background-color: #E2B714;
    height:50vh;
    width:40vw;
    margin:130px 400px;
    border:1px solid #E2B714;
    border-radius: 10px;
}

.box2{
    background-color: #1a1a1a;
    color: white;
    width: 300px;
    height: 50px;
    margin: 20px 120px;
}