* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    background-color: #1a1a1a;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgb(242, 111, 242);
}


nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(173, 25, 75);
    text-decoration: none;
    font-size: 1.1rem;
}

.left {
    font-size: 2.3rem;
    color: rgb(0, 0, 0);

}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 8px 0;
    align-items: center;
}

.firstSection>div {
    width: 50%;
}

.leftSection {
    padding-left: 90px;
    font-size: 3rem;
    margin: 10px 0;
}

.leftSection .btn {
    background-color: rgb(217, 223, 224);
    width: 150px;
    text-align: center;
    border: 20px blue;
    border-radius: 20px;
    cursor: pointer;

}


.rightSection img {
    width: 60%;
    height: 100%;
    border-radius: 40px;
    border: 3px solid rgb(72, 212, 254);
    margin: 0 100px;
}

.rightSection img:hover {
    width: 61%;
    height: 101%;
}

span {
    color: rgb(0, 248, 248);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection .box {
    background-color: white;
    width: 80vw;
    height: 0.1vh;
    margin: 56px 0;
    display: flex;
    margin: 30px 0;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
}

.image-top {
    width: 24px;
    position: relative;
    top: -30px;
    left: -10px;
}

.vertical-title {
    position: relative;
    top: 51px;
    width: 150px;
    left: 150px;
}

.vertical-desc {
    top: 65px;
    position: relative;
    /* left:500px; */
}

.v1 {
    position: relative;
       left: -3px;
    top: 87px;
}

.v2 {
    position: relative;
        left: -3px;
    top: 87px;
}

.v3 {
    position: relative;
       left: -3px;
    top: 87px;
}

.v4 {
    position: relative;
       left: -3px;
    top: 87px;
}

.v5 {
    position: relative;
       left: -3px;
    top: 87px;
}


.text-gray {
    color: gray;
}

.vertical0 {
    position: relative;
    width: 1px;
    left: 151px;
    height: 93px;
    background-color: white;
    top: -162px;
}

.vertical1 {
    position: relative;
    height: 93px;
    left: 453px;
    width: 1px;
    background-color: white;
    top: -255px;
}

.vertical2 {
    position: relative;
    height: 93px;
    left: 306px;
    top: -348px;
    width: 1px;
    background-color: white;
}

.vertical3 {
    position: relative;
    height: 93px;
    left: 750px;
    top: -441px;
    width: 1px;
    background-color: white;
}

.vertical4 {
    position: relative;
    height: 93px;
    left: 600px;
    top: -534px;
    width: 1px;
    background-color: white;
}

.vertical5 {
    position: relative;
    height: 93px;
    left: 900px;
    top: -629px;
    width: 1px;
    background-color: white;
}


.thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}


footer {
    text-align: center;
    color: gray;
    display: none;
}

hr {
    color: aqua;
    background-color: red;
    margin: 50px;
}



