@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.briefintro {
    font-family: Story Script;
    font-size: 50px;
    color: rgb(133, 222, 222);
    text-align: center;
    height: 20vh;
}

.nametwo {
    color: rgb(171, 192, 192);
}

.mypfp {
    height: 150px;
    border: 1px solid rgb(173, 225, 245);
    border-radius: 20px;
    margin: 20px;
    position: relative;
    left: 250px;
}

.in {
    font-size: 25px;
    color: rgb(140, 148, 148);
}
.img {
  position: relative;
  right:10px;
}
body {
    background-color: #232020;
    height: 100vh;
    background-image: url();
}

.buttonthing {
    text-align: center;
}

.left {
    height: 25px;
        background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 196, 196);
    border-radius: 12px;
    width: 150px;
    text-align: center; 
    font-family: Poppins;
    text-decoration: none;
}

.right {
    height: 25px;
    background-color: rgb(255, 255, 255);
   border: 1px solid rgb(200, 196, 196);
    border-radius: 12px;
    width: 160px;
    text-align: center; 
    font-family: Poppins;
}

.navb {
    list-style-type: none;
    font-family: Poppins;
    color: rgb(164, 237, 255);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height:10vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.anchor {
    color: rgb(164, 237, 255);
    text-decoration: none;
}

.name {
    font-size: 35px;
    color:rgb(151, 181, 187);
    font-weight: 1000;
    padding-right: 500px;
    font-family: Story Script;
    position: relative;
    right: 50px;
    text-decoration: underline rgb(7, 36, 255);
}
.icon{
    border: 1px solid rgb(255, 255, 255);
    height:40px;
    position: relative;
    left: 590px;
    top: 10px;
}

header{
    height: 85vh;
}

footer {
    color: white;
    background-color:black;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Oswald;
}